# Byte-compiled / optimized / DLL files
status_checker/__pycache__/
*.py[cod]
*$py.class

# SQLite database
*.db

# SSO Cookie
status_checker/cookies/*

# Logs
status_checker/logs/*

# Keytab
*.keytab

vuejs/
